@import "normalize.css";
@import "grid.css";
@import "fonts.css";

:root {
    --text-color: #333333;
    --app-bg-color: #fff;
    --section-bg-color: #fff;
    --primary-color: #0ABEAD;
}

/*

-- Reset Styles

*/
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

/*

-- App

*/
html {
    font-size: 10px;
}

body {
    font-family: "Poppins";
    font-size: 1.6rem;
    line-height: 1.5;
}

/*

component

*/


.app-btn {
    width: 18rem;
    height: 5.2rem;
    border-radius: 4rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    box-shadow: 0 1.5rem 4rem rgba(11, 190, 173, 40%);
    font-family: "Poppins SemiBold"
}

.section-head {
    text-align: center;
    margin-bottom: 5rem;
}

.section-head__title {
    font-family: "Poppins Bold";
    font-size: 4.5rem;
    color: var(--primary-color);
    margin: 0;
}

.section-head__caption {
    color: var(--text-color);
    margin: .5rem 0 2rem 0;
    letter-spacing: .25rem;
}

.section-head__line {
    display: block;
    width: 20rem;
    height: .2rem;
    background-color: var(--primary-color);
    margin: 0 auto;
    position: relative;
}

.section-head__line::after {
    content: "";
    position: absolute;
    width: 3rem;
    height: .8rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/*

 - Header -

*/


.header {
    background-color: var(--section-bg-color);
    box-shadow: 0 .5rem 4rem rgba(4, 195, 255, 16%);
    z-index: 100;
    position: fixed;
    right: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.nav__logo {
    color: var(--primary-color);
    font-family: "Poppins Black";
    font-size: 6rem;
    margin: 0;
}

.menu {
    display: flex;
    z-index: 100;
}

.menu__item {
    margin-right: 4rem;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    display: inline-block;
    color: var(--text-color);
    font-family: "Poppins Medium";
    transition: color 150ms ease-in;
}

.menu__link:hover {
    color: var(--primary-color);
}

.menu__link--active {
    color: var(--primary-color);
}

.burger-menu {
    display: none;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.burger-menu__line {
    position: relative;
    transition: all 100ms ease-in;
}

.burger-menu__line,
.burger-menu__line::before,
.burger-menu__line::after {
    content: " ";
    width: 4.5rem;
    height: 0.4rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
}

.burger-menu__line::before {
    position: absolute;
    top: 1.2rem;
    transition: all 150ms ease-in;
}

.burger-menu__line::after {
    position: absolute;
    bottom: 1.2rem;
    transition: all 150ms ease-in;
}

.nav__toggle-icon--open .burger-menu__line {
    background-color: transparent;
}

.nav__toggle-icon--open .burger-menu__line::before {
    transform: translateY(-1.2rem) rotate(-45deg);
}

.nav__toggle-icon--open .burger-menu__line::after {
    transform: translateY(1.2rem) rotate(45deg);
}

/*===============================| home*/

.home {
    padding-top: 12rem;
    overflow: hidden;
    position: relative;
    height: 82rem;
}

.home-content {
    margin-top: 14rem;
}

.home-content__name {
    font-family: "Poppins SemiBold";
    color: var(--primary-color);
    font-size: 2.8rem;
    margin: 0;
}

.home-content__name span {
    color: #F57F17;
}

.home-content__title {
    font-family: "Poppins Bold";
    color: var(--primary-color);
    font-size: 5rem;
    margin: 0;
}

.home-content__caption {
    margin-top: 1rem;
    margin-bottom: 3rem;
    opacity: 0.7;
}

.home-content__links {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.home-content__link {

}

.app-btn--orange {
    background-color: #F57F17;
    box-shadow: 0 1.5rem 4rem rgba(245, 127, 23, 24%);
}

.home__photo {
    margin-top: 3rem;
    width: 50rem;
    height: 50rem;
    border-radius: 100%;
    background-image: url(../images/header-avatar.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
    border: 2rem solid var(--section-bg-color);
}

.home svg {
    position: absolute;
    bottom: -65px;
}

/*==========================| about us*/

.about-us {
    margin-top: 6rem;
}

.about {
    display: flex;
    background-color: var(--section-bg-color);
    box-shadow: 0 0 4rem rgb(96 233 255 / 27%);
    margin-bottom: 10rem;
    min-height: 62rem;
}

.about__cover {
    flex-basis: 48%;
}

.about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__content {
    flex-basis: 52%;
    padding: 4rem;
}

.about__title {
    font-family: "Poppins SemiBold";
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.about__description {
    margin-top: 0;
    margin-bottom: 7rem;
}

.about__list-title {
    color: var(--primary-color);
    font-family: "Poppins SemiBold";
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.about-list {
    margin-bottom: 3rem;
    margin-left: 1rem;
}

.about-list__item {
    margin-bottom: 1rem;
    position: relative;
    padding-left: 2.5rem;
}

.about-list__item:last-child {
    margin-bottom: 0;
}

.about-list__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #F57F17;
    border-radius: 100%;
}

.about__links-wrapper {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    width: 100%;
}